li a {
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 12px 15px;
  text-decoration: none;
  color: var(--greyscale-700);
  font-weight: bold;
  font-size: 22px;
  width: 100%;
}

li a:hover {
  color: var(--primary-700);
}

li {
  color: var(--greyscale-700);
  margin: 15px;
  margin-left: 50px;
  margin-right: 50px;
  text-decoration: none;
  display: flex;
  background-color: var(--primary-100);
  border-radius: 13px;
  cursor: pointer;
  align-items: flex-start;
}

li:hover {
  box-shadow: 5px 5px 15px var(--greyscale-700);
}
