li a {
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 3vh 15px;
  text-decoration: none;
  color: var(--greyscale-700);
  font-weight: bold;
  font-size: 2em;
  width: 100%;
}

li a:hover {
  color: var(--primary-700);
}

li {
  color: var(--greyscale-700);
  margin: 15px;
  margin-left: 150px;
  margin-right: 150px;
  text-decoration: none;
  display: flex;
  background-color: var(--primary-100);
  border-radius: 13px;
  cursor: pointer;
  align-items: flex-start;
}

li:hover {
  box-shadow: 5px 5px 15px var(--greyscale-700);
}

/* Media query para tabletas */
@media (max-width: 1024px) {
  .dropdown-content{
    min-width: 512px;
  }
  li{
    margin-left: 50px;
    margin-right: 50px;
  }
}

/* Media query para telefonos */
@media (max-width: 720px) {
  li{
    margin-left: 35px;
    margin-right: 35px;
  }
  li a{
    padding: 2vh 2vh;
    font-size: 1.6em;
  }
}