.contratos-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.header-buscador {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 85%;
}

.header-buscador img {
    cursor: pointer;
    width: 50px;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto; /* Alinea a la derecha */
}

.dropdown-icon {
    cursor: pointer;
    width: 50px;
}

.dropdown-content {
    display: none;
    position: absolute;
    color: var(--greyscale-900);
    background-color: var(--greyscale-100);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 5%;
    border-radius: 10px;
}

.dropdown-content label {
    display: block;
    padding: 8px 12px;
}

.dropdown-content.show {
    display: block;
}



.contratos-grid {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 75%;
    align-items: center;
    background-color: var(--primary-100);
    box-shadow: 5px 5px 15px var(--greyscale-700);
    border-radius: 15px;
}

.grid-header {
    display: flex;
    width: 90%;
    justify-content: center;
}

h1 {
    margin: 2vh;
}

.grid-header h1 {
    color: var(--greyscale-100);
    font-size: 3em;
}

.grid-card {
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    width: 98%;
    gap: 25px;
    overflow-x: hidden;
    justify-content: center;
}

.grid-card::-webkit-scrollbar {
    width: 1px;
}

.button-div {
    display: flexbox;
    position: absolute;
    height: 6vh;
    width: 6vh;
    right: 5%;
    bottom: 6%;
    cursor: pointer;
}

.button-div img {
    height: 100%;
    border-radius: 50%;
}


/* Estilo específico para WebKit (Chrome, Safari, Opera) */
.grid-card::-webkit-scrollbar {
    width: 10px;
    /* Grosor de la scrollbar */
}

.grid-card::-webkit-scrollbar-track {
    background-color: transparent;
    /* Color de fondo de la pista de la scrollbar */
}

.grid-card::-webkit-scrollbar-thumb {
    background-color: var(--greyscale-100);
    /* Color del thumb (barra deslizadora) */
    border-radius: 5px;
    /* Bordes redondeados para el thumb */
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Cambiado a flex-start para alinear arriba */
    z-index: 1000;
    padding-top: 5%; /* Ajusta este valor para mover el modal hacia abajo */
}

.modal-content {
    background-color: var(--greyscale-100);
    padding: 50px 115px 130px 115px;
    border-radius: 15px;
    color: var(--greyscale-900);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    align-items: center;
    text-align: center;
    max-width: 50%;
}

/* Rest of your CSS */
.modal-content h2 {
    font-size: 2.5em;
    margin: 30px;
    padding: 0px;
    margin-top: 60px;
}

.modal-btns {
    margin-top: 10px;
    margin-bottom: 50px;
}
button {
    color: var(--greyscale-100);
    background-color: var(--greyscale-200);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.5em;
    margin: 10px;
}

.div-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    border: 2px solid var(--primary-500);
    border-radius: 5px;
    padding: 10px;
    width: 350px; /* Ajusta el ancho */
    display: block;
    font-weight: bold;
    margin: 20px 0; /* Margen superior e inferior */
    background: transparent;
    font-size: 1.25em;
}


.btn-gradiente{
    background: linear-gradient(to right, #1E435D,  var(--primary-300));
}

/* Media query para tabletas */
@media (max-width: 1024px) {
    .grid-header h1 {
        color: var(--greyscale-100);
        font-size: 3.2em;
    }

    .grid-card {
        overflow: auto;
        grid-template-columns: repeat(2, 40%);
        justify-content: center;
    }

    .button-div {
        bottom: 5%;
    }

}

/* Media query para telefonos */
@media (max-width: 720px) {
    .grid-header h1 {
        color: var(--greyscale-100);
        font-size: em;
    }

    .grid-card {
        overflow: auto;
        grid-template-columns: repeat(2, 40%);
        justify-content: center;
    }

    .button-div {
        bottom: 5%;
    }

    .grid-card::-webkit-scrollbar {
        width: 5px;
        /* Grosor de la scrollbar */
    }
}