<div>
<div class="company-content">
  <div class="image">
    <img src="atras.png" alt="" />
    <button class="dropbtn"(click)="toggleDropdown()">Desplegar</button>
  </div>
  <div class="company-grid">
    <div class="grid-header">
      <h1>COMPAÑÍAS</h1>
    </div>

    <div class="grid-card">
      <div class="card">
        <div class="text">
          <h2>STARBUCKS</h2>
          <p>CONTRATOS : 02</p>
          <p>PROYECTOS : 03</p>
        </div>
      </div>

      <div class="card">
        <div class="text">
          <h2>STARBUCKS</h2>
          <p>CONTRATOS : 02</p>
          <p>PROYECTOS : 03</p>
        </div>
      </div>

      <div class="card">
        <div class="text">
          <h2>STARBUCKS</h2>
          <p>CONTRATOS : 02</p>
          <p>PROYECTOS : 03</p>
        </div>
      </div>

      <div class="card">
        <div class="text">
          <h2>STARBUCKS</h2>
          <p>CONTRATOS : 02</p>
          <p>PROYECTOS : 03</p>
        </div>
      </div>

      <div class="card">
        <div class="text">
          <h2>STARBUCKS</h2>
          <p>CONTRATOS : 02</p>
          <p>PROYECTOS : 03</p>
        </div>
      </div>

      <div class="card">
        <div class="text">
          <h2>STARBUCKS</h2>
          <p>CONTRATOS : 02</p>
          <p>PROYECTOS : 03</p>
        </div>
      </div>

      <div class="card">
        <div class="text">
          <h2>STARBUCKS</h2>
          <p>CONTRATOS : 02</p>
          <p>PROYECTOS : 03</p>
        </div>
      </div>

      <div class="card">
        <div class="text">
          <h2>STARBUCKS</h2>
          <p>CONTRATOS : 02</p>
          <p>PROYECTOS : 03</p>
        </div>
      </div>

      <div class="card">
        <div class="text">
          <h2>STARBUCKS</h2>
          <p>CONTRATOS : 02</p>
          <p>PROYECTOS : 03</p>
        </div>
      </div>

      <div class="card">
        <div class="text">
          <h2>STARBUCKS</h2>
          <p>CONTRATOS : 02</p>
          <p>PROYECTOS : 03</p>
        </div>
      </div>
    </div>
  </div>
  <div class="button-div">
    <img src="plus-64.png" alt="">
  </div>
</div>


<div class="dropdown">
  <ul class="dropdown-content" [class.show]="isDropdownOpen">
    <div class="dropdown-header">
      <div class="image-drop">
        <img src="Perfil_Warthon.png" alt="">
      </div>
      <h1>Administrador</h1>
    </div>
    <li><a href="#link1">Editar Contratos</a></li>
    <li><a href="#link2">Editar Empresas</a></li>
    <li><a href="#link3">Editar Proyectos</a></li>
    <li><a href="#link1">Prioridad de Proyectos</a></li>
    <li><a href="#link2">Usuarios</a></li>
    <li><a href="#link3">Whatsapp</a></li>
  </ul>
</div>
</div>