.company-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  gap: 10px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(31,51,65) , rgb(24,131,205));
}

.image {
  display: block;
  width: 90%;
  align-items: start;
  justify-items: start;
  height: 40px;
  margin: 5px;
  margin-top: 10px;
}

.image img {
  height: 100%;
  width: auto;
}

.image button{
  height: inherit;
  width: 50px;
  position: absolute;
  right: 100px;
}

.company-grid {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 85%;
  align-items: center;
  background-color: rgb(126, 181, 219);
  box-shadow: 5px 5px 15px rgb(2, 18, 29);
  border-radius: 15px;
}

.grid-header{
  display: flex;
  width: 90%;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.grid-header h1 {
  color: white;
  font-size: 3em;
}

.grid-card {
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  width: 98%;
  gap: 25px;
  overflow-x: hidden;
  margin-left: 12px;
}

.grid-card::-webkit-scrollbar {
  width: 1px;               /* width of the entire scrollbar */
}

.card{
  background-color: rgb(205, 216, 224);
  height: 200px;
  border-radius: 10px;
  min-height: 150px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  box-shadow: 5px 5px 15px rgb(62, 76, 86);
}

.text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text h2{
  color: rgb(2, 18, 29);
  font-weight: bold;
  font-size: 2.5em;
  height: 50px;
  margin: 0px;
  margin-bottom: 20px;
}

.text p {
  display: flex;
  color: rgb(2, 18, 29);
  width: 100%;
  font-size: 1.2em;
  margin: 0px;
  justify-content: center;
  font-weight: 100;
}

.button-div{
  display: flexbox;
  position: absolute;
  height: 60px;
  width: 60px;
  right: 150px;
  bottom: 50px;
  cursor: pointer;
}

.button-div img {
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 50%;
}

/* aqui comienza el menu */
.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background: linear-gradient(to right, rgb(1,73,123) , rgb(24,131,205));
  width: 20vw; 
  height: 100vh;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  text-align: center;
  transition: ease-in-out;
  opacity: 0;
}

.dropdown-content.show {
  display: block;
  opacity: 1;
}

.dropdown-content li {
  color: rgb(2, 18, 18);
  margin: 15px;
  margin-left: 50px;
  margin-right: 50px;
  text-decoration: none;
  display: flex;
  background-color: rgb(126, 181, 219);
  border-radius: 13px;
  cursor: pointer;
  align-items: flex-start;
}

.dropdown-content li:hover {
  box-shadow: 5px 5px 15px rgb(2, 18, 29);
}

.dropdown-content li a {
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 12px 15px;
  text-decoration: none;
  color: rgb(2, 18, 29);
  font-weight: bold;
  font-size: 22px;
  width: 100%;
}

.dropdown-content li a:hover {
  color: rgb(1, 73, 123);
}

.dropdown-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image-drop {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.image-drop img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.dropdown-header h1 {
  margin: 10px 0;
  font-size: 1.6em;
  color: rgb(205, 216, 224);
  align-self: center;
}
