.contratos-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    gap: 10px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(31, 51, 65), rgb(24, 131, 205));
  }
  
  .image {
    display: block;
    width: 90%;
    align-items: start;
    justify-items: start;
    height: 40px;
    margin: 5px;
    margin-top: 10px;
  }
  
  .image img {
    height: 100%;
    width: auto;
  }
  
  .image button {
    height: inherit;
    width: 50px;
    position: absolute;
    right: 100px;
  }
  
  .contratos-grid {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 75%;
    align-items: center;
    background-color: rgb(126, 181, 219);
    box-shadow: 5px 5px 15px rgb(2, 18, 29);
    border-radius: 15px;
  }
  
  .grid-header {
    display: flex;
    width: 90%;
    justify-content: center;
  }
  
  h1{
    margin: 2vh;
  }
  
  .grid-header h1 {
    color: white;
    font-size: 3em;
  }
  
  .grid-card {
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    width: 98%;
    gap: 25px;
    overflow-x: hidden;
    justify-content: center;
  }
  
  .grid-card::-webkit-scrollbar {
    width: 1px;
  }
  
  .button-div {
    display: flexbox;
    position: absolute;
    height: 6vh;
    width: 6vh;
    right: 5%;
    bottom: 7%;
    cursor: pointer;
  }
  
  .button-div img {
    height: 100%;
    border-radius: 50%;
  }
  
  
  /* Estilo específico para WebKit (Chrome, Safari, Opera) */
  .grid-card::-webkit-scrollbar {
    width: 10px; /* Grosor de la scrollbar */
  }
  
  .grid-card::-webkit-scrollbar-track {
    background-color: transparent; /* Color de fondo de la pista de la scrollbar */
  }
  
  .grid-card::-webkit-scrollbar-thumb {
    background-color:  var(--greyscale-100); /* Color del thumb (barra deslizadora) */
    border-radius: 5px; /* Bordes redondeados para el thumb */
  }
  
  
  /* Media query para tabletas */
  @media (max-width: 1024px) {
    .grid-header h1 {
      color: white;
      font-size: 3.2em;
    }
    .grid-card {
      overflow: auto;
      grid-template-columns: repeat(2, 40%);
      justify-content: center;
    }
    .button-div {
      bottom: 5%;
    }
    
  }
  
  /* Media query para telefonos */
  @media (max-width: 720px) {
    .grid-header h1 {
      color: white;
      font-size: em;
    }
    .grid-card {
      overflow: auto;
      grid-template-columns: repeat(2, 40%);
      justify-content: center;
    }
    .button-div {
      bottom: 5%;
    }
  
    .grid-card::-webkit-scrollbar {
      width: 5px; /* Grosor de la scrollbar */
    }
  }