<div class="contratos-content">
    <div class="image"  (click)="navigateTo('')">
        <img src="atras.png" alt="" />
    </div>
    <div class="contratos-grid">
    <div class="grid-header">
        <h1>CONTRATOS</h1>
    </div>
    <div class="grid-card">
        <card 
            [nameCompany]="'CONTRATO N'" 
            [numberContract]="'PROYECTOS : XY'" 
            [numberProyect]="'COMPAÑIA N'"></card>
        <card 
            [nameCompany]="'CONTRATO N'" 
            [numberContract]="'PROYECTOS : XY'" 
            [numberProyect]="'COMPAÑIA N'"></card>
        <card 
            [nameCompany]="'CONTRATO N'" 
            [numberContract]="'PROYECTOS : XY'" 
            [numberProyect]="'COMPAÑIA N'">
        </card>
        <card 
            [nameCompany]="'CONTRATO N'" 
            [numberContract]="'PROYECTOS : XY'" 
            [numberProyect]="'COMPAÑIA N'">
        </card>
        <card 
            [nameCompany]="'CONTRATO N'" 
            [numberContract]="'PROYECTOS : XY'" 
            [numberProyect]="'COMPAÑIA N'">
        </card>
        <card 
            [nameCompany]="'CONTRATO N'" 
            [numberContract]="'PROYECTOS : XY'" 
            [numberProyect]="'COMPAÑIA N'">
        </card>
        <card 
            [nameCompany]="'CONTRATO N'" 
            [numberContract]="'PROYECTOS : XY'" 
            [numberProyect]="'COMPAÑIA N'">
        </card>
        <card 
            [nameCompany]="'CONTRATO N'" 
            [numberContract]="'PROYECTOS : XY'" 
            [numberProyect]="'COMPAÑIA N'">
        </card>
        <card 
            [nameCompany]="'CONTRATO N'" 
            [numberContract]="'PROYECTOS : XY'" 
            [numberProyect]="'COMPAÑIA N'">
        </card>
        <card 
            [nameCompany]="'CONTRATO N'" 
            [numberContract]="'PROYECTOS : XY'" 
            [numberProyect]="'COMPAÑIA N'">
        </card>
        <card 
            [nameCompany]="'CONTRATO N'" 
            [numberContract]="'PROYECTOS : XY'" 
            [numberProyect]="'COMPAÑIA N'">
        </card>
        <card 
            [nameCompany]="'CONTRATO N'"
            [numberContract]="'PROYECTOS : XY'" 
            [numberProyect]="'COMPAÑIA N'">
        </card>
      </div>
      <div class="button-div">
        <img src="plus-ico.png" alt="" />
      </div>
    </div>
  </div>