main {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 5em;
    margin: 0;
}

p {
    font-size: 1.5em;
}
