<div class="dropdown">
  <ul *ngIf="menuVisible" class="dropdown-content">
    <div class="dropdown-header">
      <div class="image-drop">
        <img src="Perfil_Warthon.png" alt="" />
      </div>
      <h1>Administrador</h1>
    </div>
    <menubutton [textButton]="'Editar Contratos'"></menubutton>
    <menubutton [textButton]="'Editar Empresas'"></menubutton>
    <menubutton [textButton]="'Editar Proyectos'"></menubutton>
    <menubutton [textButton]="'Prioridad de Proyectos'"></menubutton>
    <menubutton [textButton]="'Editar Contratos'"></menubutton>
    <menubutton [textButton]="'Usuarios'"></menubutton>
    <menubutton [textButton]="'Whatsapp'"></menubutton>
  </ul>
</div>