<div class="dropdown">
  <ul *ngIf="menuVisible" class="dropdown-content">
    <div class="dropdown-header">
      <div class="image-drop">
        <img src="Perfil_Warthon.png" alt="" />
      </div>
      <h1>Administrador</h1>
    </div>
    <menubutton [textButton]="'Multimedia'" [ruta]="'multimedia'"></menubutton>
    <menubutton [textButton]="'Editar Contratos'" [ruta]="'editcontratos'"></menubutton>
    <menubutton [textButton]="'Editar Empresas'" [ruta]="'editempresas'"></menubutton>
    <menubutton [textButton]="'Editar Proyectos'" [ruta]="'editproyectos'"></menubutton>
    <menubutton [textButton]="'Prioridad de Proyectos'" [ruta]="'edidprioridad'"></menubutton>
    <menubutton [textButton]="'Usuarios'" [ruta]="'editusuarios'"></menubutton>
    <menubutton [textButton]="'Whatsapp'"></menubutton>
  </ul>
</div>