<header class="main-header">
  <div class="section">
    <div class="section">
      <img class="svg" src="icon_report.svg" (click)="navigateTo('reportes')" />
    </div>
  </div>
  <div class="section large-section" (click)="navigateTo('')">
    <img class="logo" src="LOGO_1.png" />
    BITÁCORA DE PROYECTOS DE INFRAESTRUCTURA
  </div>
  <div class="section">
    <img (click)="onToggleMenu()" class="svg" src="icon_settings.svg" />
  </div>
</header>

<div class="overlay" [ngClass]="{'visible': menuVisible}" (click)="toggleDropdown()">
  <menu [menuVisible]="menuVisible"></menu>
</div>
