<div class="company-content">
  <div class="image">
    <img src="atras.png" alt="" />
    <button class="dropbtn">Desplegar</button>
  </div>
  <div class="company-grid">
    <div class="grid-header">
      <h1>COMPAÑÍAS</h1>
    </div>
    <div class="grid-card">
      <card
        [nameCompany]="'STARTBUCKS'"
        [numberContract]="'CONTRATOS : 02'"
        [numberProyect]="'PROYECTOS: 03'"
      ></card>
      <card
        [nameCompany]="'STARTBUCKS'"
        [numberContract]="'CONTRATOS : 02'"
        [numberProyect]="'PROYECTOS: 03'"
      ></card>
      <card
        [nameCompany]="'STARTBUCKS'"
        [numberContract]="'CONTRATOS : 02'"
        [numberProyect]="'PROYECTOS: 03'"
      ></card>
      <card
        [nameCompany]="'STARTBUCKS'"
        [numberContract]="'CONTRATOS : 02'"
        [numberProyect]="'PROYECTOS: 03'"
      ></card>
      <card
        [nameCompany]="'STARTBUCKS'"
        [numberContract]="'CONTRATOS : 02'"
        [numberProyect]="'PROYECTOS: 03'"
      ></card>
      <card
        [nameCompany]="'STARTBUCKS'"
        [numberContract]="'CONTRATOS : 02'"
        [numberProyect]="'PROYECTOS: 03'"
      ></card>
      <card
        [nameCompany]="'STARTBUCKS'"
        [numberContract]="'CONTRATOS : 02'"
        [numberProyect]="'PROYECTOS: 03'"
      ></card>
      <card
        [nameCompany]="'STARTBUCKS'"
        [numberContract]="'CONTRATOS : 02'"
        [numberProyect]="'PROYECTOS: 03'"
      ></card>
      <card
        [nameCompany]="'STARTBUCKS'"
        [numberContract]="'CONTRATOS : 02'"
        [numberProyect]="'PROYECTOS: 03'"
      ></card>
      <card
        [nameCompany]="'STARTBUCKS'"
        [numberContract]="'CONTRATOS : 02'"
        [numberProyect]="'PROYECTOS: 03'"
      ></card>
      <card
        [nameCompany]="'STARTBUCKS'"
        [numberContract]="'CONTRATOS : 02'"
        [numberProyect]="'PROYECTOS: 03'"
      ></card>
      <card
        [nameCompany]="'STARTBUCKS'"
        [numberContract]="'CONTRATOS : 02'"
        [numberProyect]="'PROYECTOS: 03'"
      ></card>
    </div>
    <div class="button-div">
      <img src="plus-64.png" alt="" />
    </div>
  </div>
</div>
