<div class="company-content">
  <div class="image"  (click)="navigateTo('')">
    <img src="atras.png" alt="" />
  </div>
  <div class="company-grid">
    <div class="grid-header">
      <h1>COMPAÑÍAS</h1>
    </div>
    <div class="grid-card">
      <card 
        [nameCompany]="'COMPAÑIA N'" 
        [numberContract]="'CONTRATOS : N'" 
        [numberProyect]="'PROYECTOS: XY'"></card>
      <card 
        [nameCompany]="'COMPAÑIA N'" 
        [numberContract]="'CONTRATOS : N'" 
        [numberProyect]="'PROYECTOS: XY'"></card>
      <card 
        [nameCompany]="'COMPAÑIA N'" 
        [numberContract]="'CONTRATOS : N'" 
        [numberProyect]="'PROYECTOS: XY'">
      </card>
      <card 
        [nameCompany]="'COMPAÑIA N'" 
        [numberContract]="'CONTRATOS : N'" 
        [numberProyect]="'PROYECTOS: XY'">
      </card>
      <card 
        [nameCompany]="'COMPAÑIA N'" 
        [numberContract]="'CONTRATOS : N'" 
        [numberProyect]="'PROYECTOS: XY'">
      </card>
      <card 
        [nameCompany]="'COMPAÑIA N'" 
        [numberContract]="'CONTRATOS : N'" 
        [numberProyect]="'PROYECTOS: XY'">
      </card>
      <card 
        [nameCompany]="'COMPAÑIA N'" 
        [numberContract]="'CONTRATOS : N'" 
        [numberProyect]="'PROYECTOS: XY'">
      </card>
      <card 
        [nameCompany]="'COMPAÑIA N'" 
        [numberContract]="'CONTRATOS : N'" 
        [numberProyect]="'PROYECTOS: XY'">
      </card>
      <card 
        [nameCompany]="'COMPAÑIA N'" 
        [numberContract]="'CONTRATOS : N'" 
        [numberProyect]="'PROYECTOS: XY'">
      </card>
      <card 
        [nameCompany]="'COMPAÑIA N'" 
        [numberContract]="'CONTRATOS : N'" 
        [numberProyect]="'PROYECTOS: XY'">
      </card>
      <card 
        [nameCompany]="'COMPAÑIA N'" 
        [numberContract]="'CONTRATOS : N'" 
        [numberProyect]="'PROYECTOS: XY'">
      </card>
      <card 
        [nameCompany]="'COMPAÑIA N'"
        [numberContract]="'CONTRATOS : N'" 
        [numberProyect]="'PROYECTOS: XY'">
      </card>
    </div>
    <div class="button-div">
      <img src="plus-ico.png" alt="" />
    </div>
  </div>
</div>